
@{
    ViewBag.Title = "Koszyk";
    Layout = "~/Views/Shared/_Layout.cshtml";


    Dictionary<AnimeShop.Models.ProductModel, int> productCart = ViewData["productCart"] as Dictionary<AnimeShop.Models.ProductModel, int>;
    double productCartSum = (double)ViewData["productCartSum"];

    var shipments = ViewData["shipments"] as IEnumerable<AnimeShop.Models.ShipmentModel>;
    string message = ViewData["message"] as string;
}

<div class="S-card-default S-card-cart">
    @if (message != "") {<p style="color: crimson">@message</p>}

    @if (productCart != null) {

        

        using (Html.BeginForm("Order", "Cart", FormMethod.Post)) {

            <table class="S-cart-form-table">
                <tr>
                    <td>Dostawa</td>
                    <td>
                        <select class="form-control" name="shipment_id">
                            @foreach (AnimeShop.Models.ShipmentModel shipment in shipments) {

                                <option value="@(shipment.ShipmentModelId)">@(shipment.Name) | @(AnimeShop.DAL.MyServer.formatPrice(shipment.Cost))zł</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Informacje do dostawy</td>
                    <td><i>Adres zostanie pobrany z konta</i></td>
                </tr>
                <tr>
                    <td>Dodatkowe informacje od kupującego</td>
                    <td>
                        <textarea class="form-control S-cart-textArea" name="info" rows="7" cols="30"></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" class="S-button" value="Podsumowanie" />
                    </td>
                </tr>
            </table>
        }

        <table class="S-cart-products-table">
            <thead>
                <tr>
                    <td>Produkt</td>
                    <td>Ilość</td>
                    <td>Cena za sztukę</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in productCart) {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Key.Name, "Details", "ProductModel", new { id = item.Key.ProductModelId }, null)
                        </td>

                        <td>
                            @item.Value
                        </td>

                        <td>
                            @(AnimeShop.DAL.MyServer.formatPrice(item.Key.Price))zł
                        </td>

                        <td>
                            @Html.ActionLink("Usuń", "Delete", new { id = item.Key.ProductModelId })
                        </td>
                    </tr>
                }
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Łącznie</td>
                    <td>&nbsp;</td>
                    <td>@(AnimeShop.DAL.MyServer.formatPrice(productCartSum))zł</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>

        <div style="clear: both;"></div>
        <div></div>

    } else {

        <span>Koszyk jest pusty</span>
    }
</div>