
@{
    ViewBag.Title = "Podsumowanie zamówienia";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var productCart = ViewData["productCart"] as Dictionary<AnimeShop.Models.ProductModel, int>;

    var shipment = ViewData["shipment"] as AnimeShop.Models.ShipmentModel;
    string shipmentInfo = ViewData["shipmentInfo"] as string;
    string additionalInfo = ViewData["additionalInfo"] as string;
    double productCartSum = (double)ViewData["productCartSum"];
}

<div class="S-card-default S-card-cart">


        

        <table class="S-cart-form-table">
            <tr>
                <td>Dostawa</td>
                <td>
                    @shipment.Name | @(AnimeShop.DAL.MyServer.formatPrice(shipment.Cost))zł
                </td>
            </tr>
            <tr>
                <td>Informacje do dostawy</td>
                <td>@(new HtmlString(shipmentInfo.Replace("\n", "<br />")))</td>
            </tr>
            <tr>
                <td>Dodatkowe informacje od kupującego</td>
                <td>
                    @(new HtmlString(additionalInfo.Replace("\n", "<br />")))
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @using (Html.BeginForm("ConfirmOrder", "Cart", FormMethod.Post)) {

                        <input type="number" value="@shipment.ShipmentModelId" style="display: none;" name="shipment_id" readOnly/>
                        <input type="text" value="@additionalInfo" style="display: none;" name="additionalInfo" readOnly/>
                        <input type="number" value="@productCartSum" style="display: none;" name="cartValue" readOnly/>
                        <input type="submit" class="S-button" value="Złóż zamówienie" />
                    }
                </td>
            </tr>
        </table>

    <table class="S-cart-products-table">
            <thead>
                <tr>
                    <td>Produkt</td>
                    <td>Ilość</td>
                    <td>Cena za sztukę</td>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in productCart) {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Key.Name, "Details", "ProductModel", new { id = item.Key.ProductModelId }, null)
                        </td>

                        <td>
                            @item.Value
                        </td>

                        <td>
                            @(AnimeShop.DAL.MyServer.formatPrice(item.Key.Price))zł
                        </td>
                    </tr>
                }
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Dostawa</td>
                    <td>&nbsp;</td>
                    <td>@(AnimeShop.DAL.MyServer.formatPrice(shipment.Cost))zł</td>
                </tr>
                <tr>
                    <td>Łącznie</td>
                    <td>&nbsp;</td>
                    <td>@(AnimeShop.DAL.MyServer.formatPrice(productCartSum))zł</td>
                </tr>
            </tbody>
        </table>

        <div style="clear: both;"></div>
        <div></div>

</div>