<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Shop | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- <link rel="stylesheet" href="~/Content/style.css" /> -->



</head>
<body>

    <div onclick="goToTop()" id="goToTopButton">^</div>
    <script>
        // https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top


        //Get the button
        var mybutton = document.getElementById("goToTopButton");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function goToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("AnimeShop", "Catalog", "ProductModel", new { area = "" }, new { @class = "navbar-brand" })*@
                <a href="~/ProductModel/Catalog"> <div class="navbar-brand S-brand-logo"><img src="~/Content/Media/Logo/logo2.jpg" /></div> </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Katalog", "Catalog", "ProductModel")</li>
                    <li>@Html.ActionLink("Koszyk (" + (Session["cartSize"] != null ? (int)Session["cartSize"] : 0) + ")", "Index", "Cart")</li>
                    <li>@Html.ActionLink("O nas", "Index", "About")</li>
                    @*<li>@Html.ActionLink("Konto", "Catalog", "ProductModel")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <hr />
    <footer>
        <p>&copy; 2020 - Szymon Krawczyk</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
