@model AnimeShop.Models.ProductModel

@{
    ViewBag.Title = "Szczegóły " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    int mediaLength = (int)ViewData["mediaLength"];

}


<div class="S-card-default">

    <div class="S-details-product-name S-product-name">
        @Model.Name @(!Model.Active ? "[Archiwum]" : "")
    </div>

    <div class="S-details-info">
        <table class="S-details-table">
            <tr>
                <td>Anime:</td>
                <td>@Model.Anime</td>
            </tr>
            <tr>
                <td>Producent:</td>
                <td>@Model.Manufacturer</td>
            </tr>
            <tr>
                <td>Wielkość:</td>
                <td>@Model.Size</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Opis:</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: justify">@(new HtmlString( Model.Description.Replace("\n", "<br />")))</td>
            </tr>
        </table>
        @using (Html.BeginForm("Details", "ProductModel", FormMethod.Post, htmlAttributes: new { @class = "S-details-form" }))
        {
            <input type="text" name="id" value="@Model.ProductModelId" style="display: none" />
            if (Model.Active) {
                <input type="number" class="S-details-add-to-cart-amount form-control" name="amount" value="1" />
                <input class="S-button S-details-add-to-cart-button" type="submit" value="Dodaj do koszyka" />
            }
            <div class="S-product-price S-details-price">Cena: @(AnimeShop.DAL.MyServer.formatPrice(Model.Price))zł<span class="S-and-shipment-cost"><br> + dostawa</span></div>
        }

        <div style="clear: both;"></div>
        <div></div>
    </div>

    <div class="S-details-imgs-container">
        @for (int i = 1; i <= mediaLength; i++)
        {
        <div class="S-details-product-img-holder">
            <img class="S-details-product-img" src="~/Content/Media/@Model.Media/@(i).jpg" />
        </div>
        }
    </div>

    <div style="clear: both;"></div>
    <div></div>
</div>
